body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #4CAF50, #2E8B57);
  color: #fff;
}

.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 16px;
  background: #fff;
  color: #000;
  outline: none;
  margin-bottom: 20px;
}


h1, h2, p, select {
  font-family: 'Roboto', sans-serif;
}
.hideable {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.hideable.hidden {
  display: none;
}

.content {
  margin-top: 200px; 
}

.padded-paragraph {
  padding-left: 20px;  
  padding-right: 20px;  
}